<title>Interactive Table</title>
<link rel="shortcut icon" href="../assets/img/logo_flamengo.png" type="image/x-icon">

<body>
  <header class="header">
    <a href="#" class="logo"><img src="../assets/img/logo_flamengo.png" alt=""></a>
    <nav>
        <ul>
            <li><a href="#">jogadores</a></li>
            <li><a href="#">história</a></li>
            <li><a href="#">contato</a></li>
        </ul>
    </nav>
  </header>

  <div class="title-table">
  <h1>RELAÇÃO DOS JOGADORES DO FLAMENGO</h1>
  </div>

  <div class="content">
    <mat-form-field>
      <mat-label>filtro..</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gabigol" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° camisa </th>
          <td mat-cell *matCellDef="let row"> {{row.number}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Posição </th>
          <td mat-cell *matCellDef="let row"> {{row.position}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor de Mercado </th>
          <td mat-cell *matCellDef="let row"> €{{row.price}},00 mi. </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <footer class="footer">
    <p>VINI© 2023. Todos os direitos reservados.</p>
  </footer>
</body>

