@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html {
    height: 100%;
}

body { 
    height: 100%;
    margin: 0; 
    font-family: 'Kanit', "Helvetica Neue", sans-serif;
}
