<div class="content">
  <div class="tabela-periodica">
    <h1 class="tabela-periodica-h1">História das Moedas</h1>
    <section class="text">
      <p>A história da moeda está intimamente ligada à história do dinheiro e das trocas comerciais, especialmente no que diz respeito à passagem de uma economia baseada na troca direta para outra baseada na troca indireta (também chamada de monetária). A moeda surgiu em diversas civilizações, com diversas formas de representação do valor monetário:conchas, o sal, o ouro, a prata etc. Em uma acepção mais estrita, a palavra moeda refere-se a aparição de pedaços de metal estilizados e cunhados por uma instância governativa. A função das moedas metálicas e, posteriormente, do papel moeda, foi, pois, facilitar as trocas comerciais.</p>
    </section>
    <section class="tabela-periodica-img">
      <img src="../../assets/img/moedas.jpg" alt="">
    </section>
  </div>

  <div class="article">
    <section class="text">
      <h1 class="article-title">Porque existe diferentes moedas no mundo?</h1>
      <p>Diversas sociedades e regiões preservam o uso da troca em sua economia. De forma geral, os produtores inseridos neste tipo de economia utilizam dos excedentes de sua produção para estabelecerem alguma forma de escambo. Ao longo do tempo, a diversificação dos produtos dificultou a realização desse tipo de troca natural. É questão de história, de geografia e de características peculiares a cada região, população, raça, etnia. Não dá para conceber que todo o mundo funcione do mesmo jeito em todo lugar com uma moeda só. Cada região vai ter problemas e soluções diferentes e cabe ao povo que mora naquela região criar suas soluções.</p>
    </section>
    <section class="article-img">
      <img src="../../assets/img/moedas-paises.jpeg" alt="" class="moedas-paises">
    </section>
  </div>
</div>


